<header>
	<nav id="navi">
 	  <a href="/">Tasklists</a>
		<ul>
			<li><%= link_to 'Signup', signup_path %></li>
			<li><%= link_to 'Login', login_path %></li>
			<li><%= link_to 'Logout', logout_path, method: :delete %></li>
		</ul>
	</nav>
</header>